.back {
  display: block;
  height: 6.6rem;
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  font: 700 1.6rem 'Open Sans', sans-serif;
  color: #000;
  line-height: 6.6rem;
  padding: 0 8rem;
}

.back:hover { color: #f14a58; }

.container {
  flex-flow: row wrap;
  padding: 6rem;
  padding-bottom: 10rem;
  height: 688px;
}

.item-show {
  display: flex;
  flex-direction: column;
}

.item-show,
.item-info {
  height: 100%;
  width: 50%;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0 4rem 5rem;
}

.item-show img {
  width: 59rem;
  height: 39.4rem;
}

.preview-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.size-item,
.color-item { cursor: pointer; }

.size-item:hover,
.color-item:hover {
  color: #f14a58;
  border-color: #f14a58;
}

.current-preview { position: relative; }

.current-preview:after {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
}

.preview-item img {
  display: block;
  width: 19.7rem;
  height: 13rem;
}

.item-name {
  font: 700 2.6rem Roboto, sans-serif;
  color: #000;
  margin-bottom: 0.9rem;
  letter-spacing: 0.1rem;
}

.item-desc {
  font: italic 1.6rem/3rem 'Times New Roman', serif;
  color: #000;
  margin-bottom: 3.8rem;
}

.item-price {
  font: 400 2.5rem Roboto, sans-serif;
  color: #000;
  margin-bottom: 4.6rem;
}

.size-selection,
.color-selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.size,
.color {
  font: 400 1.2rem Roboto, sans-serif;
  color: #000; 
}

.size { margin-right: 5rem; }
.color { margin-right: 4.3rem; }

.size-item,
.color-item {
  width: 8rem;
  height: 4rem;
  color: #000;
  font: 700 1.4rem/3.8rem 'Open Sans', sans-serif;
  border: 0.1rem solid #e5e5e5;
  margin-right: 3rem;
  text-align: center;
}

.frequent-button { 
  align-self: center;
  margin: 5.2rem 0 0 0;
}
